<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="CrystalBase" value="35"/>
		<add key="StepBase" value="220000"/>
		<add key="DrugBase" value="300000"/>
		<add key="PotionBase" value="180000"/>
		<add key="DonatorPackBase" value="7000000000"/>
		<add key="ItemBase" value="100"/>
		<add key="ItemTextValue" value="Item"/>
	</appSettings>
</configuration>